[Desktop Entry]
Type=Application
Version=1.0
Name=Android Studio {{ android_studio_display_name }}
Comment=Android IDE ({{ android_studio_display_name }})
Exec={{ android_studio_install_dir }}/bin/studio.sh
Icon={{ android_studio_install_dir }}/bin/studio.png
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-studio
